# Dépendances / builds
node_modules/
.next/
dist/
build/
coverage/
.vite/
*.tsbuildinfo

# Environnement / secrets (jamais committés)
.env
.env.local
.env*.local
*.pem
*.key
*.p12
secrets/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Divers OS/éditeurs
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Vercel / outils
.vercel
.netlify

# Prisma
prisma/*.db
prisma/*.db-journal
